# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('./Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df =  pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)


# Review the DataFrame
encoded_df

C:\Users\danie\anaconda3\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [10]:
applicant_data_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df,applicant_data_df],axis=1)

encoded_df = encoded_df.drop(columns=categorical_variables)
# Review the Dataframe
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179

### Step 6: Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [16]:
X_train

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
10679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
5052,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
9990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
25173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
11405,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
32511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
5192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
12172,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
33003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000

In [17]:
X_train_scaled

array([[-0.12358845, -0.02991499, -0.04543772, ..., -0.02925687,
         0.01079982, -0.02957055],
       [-0.12358845, -0.02991499, -0.04543772, ..., -0.02925687,
         0.01079982, -0.02957055],
       [-0.12358845, -0.02991499, -0.04543772, ..., -0.02925687,
         0.01079982, -0.02957055],
       ...,
       [-0.12358845, -0.02991499, -0.04543772, ..., -0.02925687,
         0.01079982, -0.02957055],
       [-0.12358845, -0.02991499, -0.04543772, ..., -0.02925687,
         0.01079982, -0.02957055],
       [-0.12358845, -0.02991499, -0.04543772, ..., -0.02925687,
         0.01079982, -0.02957055]])

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [18]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [19]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [20]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [21]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [22]:
# Create the Sequential model instance
nn = Sequential()

In [23]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [24]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [25]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [26]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [27]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5775 - accuracy: 0.7189
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5534 - accuracy: 0.7293
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7297
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7311
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7332
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7326
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7336
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7355
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7336
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7353
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7346
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7371
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7366
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7374
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7364
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7373
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7378
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7367
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7379
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7374
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7376
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7386
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7370
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7390
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7377
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7389
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7367
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7392
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7386
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7399
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7382
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7381
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7386
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7401
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7395
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7394
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7383
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7399
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7394
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7396
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7402
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7397
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7410
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7391
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7412
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7411
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7406

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [29]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5592 - accuracy: 0.7297 - 446ms/epoch - 2ms/step
Loss: 0.5592040419578552, Accuracy: 0.72967928647995

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [30]:
# Set the model's file path
#file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save('./AlphabetSoup.h5')

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [31]:
# Fit the model using 50 epochs and the training data
#Same model as before but this time using X_train as opposite to X_train_scaled
nn.fit(X_train, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 15.2758 - accuracy: 0.5342
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 22/50
804/804 [==============================] - 4s 4ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335

In [32]:
model_loss_A1, model_accuracy_A1 = nn.evaluate(X_test,y_test,verbose=2)

268/268 - 0s - loss: 0.6915 - accuracy: 0.5292 - 412ms/epoch - 2ms/step

#### Alternative Model 2

In this model I will format the "CLASSIFICATION" variable into a number as opposite to a categorical variable.

In [33]:
#Dropping the 'C' in fron of every entry

applicant_data_df['CLASSIFICATION_new']=applicant_data_df['CLASSIFICATION'].str.replace("C","")

In [34]:
#making the variable a number
applicant_data_df['CLASSIFICATION_new']=pd.to_numeric(applicant_data_df['CLASSIFICATION_new'])

In [35]:
applicant_data_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
CLASSIFICATION_new         int64
dtype: object

In [36]:
#drop the old "CLASSIFICATION" variable
applicant_data_df_A2 = applicant_data_df.drop(columns='CLASSIFICATION')

In [37]:
#same steps as last time
# Create a list of categorical variables 
categorical_variables_A2 = list(applicant_data_df_A2.dtypes[applicant_data_df_A2.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables_A2

['APPLICATION_TYPE',
 'AFFILIATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [38]:
#transform the categorical variables into dummy variables
encoded_data_A2 = enc.fit_transform(applicant_data_df_A2[categorical_variables_A2])

In [39]:
# Create a DataFrame with the encoded variables
encoded_df_A2 =  pd.DataFrame(
    encoded_data_A2,
    columns = enc.get_feature_names(categorical_variables_A2)
)


# Review the DataFrame
encoded_df_A2

C:\Users\danie\anaconda3\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [40]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df_A2 = pd.concat([encoded_df_A2,applicant_data_df_A2],axis=1)

encoded_df_A2 = encoded_df_A2.drop(columns=categorical_variables_A2)
# Review the Dataframe
encoded_df_A2

#notice that it has fewer columns than encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL,CLASSIFICATION_new
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1,1000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1,2000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0,3000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1,2000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0,1000
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0,3000
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0,2000
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1,3000
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0,1000

In [41]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X_A2 = encoded_df_A2.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X_A2

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,CLASSIFICATION_new
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,2000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,3000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,2000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1000
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,3000
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,2000
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,3000
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,1000

In [42]:
#split the data
X_train_A2, X_test_A2, y_train_A2, y_test_A2 = train_test_split(X_A2, y, random_state=1)

In [43]:
# Fit the scaler to the features training dataset
scaler.fit(X_train_A2)

# Fit the scaler to the features training dataset
X_train_scaled_A2 = scaler.transform(X_train_A2)
X_test_scaled_A2 = scaler.transform(X_test_A2)

In [44]:
X_train_scaled_A2

array([[-0.12358845, -0.02991499, -0.04543772, ...,  0.01079982,
        -0.02957055, -0.35704143],
       [-0.12358845, -0.02991499, -0.04543772, ...,  0.01079982,
        -0.02957055,  0.34862712],
       [-0.12358845, -0.02991499, -0.04543772, ...,  0.01079982,
        -0.02957055, -0.53345857],
       ...,
       [-0.12358845, -0.02991499, -0.04543772, ...,  0.01079982,
        -0.02957055,  0.34862712],
       [-0.12358845, -0.02991499, -0.04543772, ...,  0.01079982,
        -0.02957055,  0.34862712],
       [-0.12358845, -0.02991499, -0.04543772, ...,  0.01079982,
        -0.02957055,  1.23071281]])

Create new model

In [45]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train_A2.iloc[0])

# Review the number of features
number_input_features

46

In [46]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [47]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

23

In [48]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 =  (hidden_nodes_layer1_A2 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2_A2

12

In [49]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [50]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))
# Add the second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))
# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 23)                1081

 dense_4 (Dense)             (None, 12)                288

 dense_5 (Dense)             (None, 1)                 13

=================================================================
Total params: 1,382
Trainable params: 1,382
Non-trainable params: 0
_________________________________________________________________

In [51]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [52]:
# Fit the model
nn_A2.fit(X_train_scaled_A2, y_train_A2, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5864 - accuracy: 0.7130
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5649 - accuracy: 0.7280
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5616 - accuracy: 0.7280
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5602 - accuracy: 0.7283
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5586 - accuracy: 0.7290
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5581 - accuracy: 0.7294
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5575 - accuracy: 0.7299
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5566 - accuracy: 0.7297
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7306
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5561 - accuracy: 0.7299
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7306
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7317
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7302
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.7305
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5541 - accuracy: 0.7314
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5542 - accuracy: 0.7314
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5541 - accuracy: 0.7322
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7310
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7314
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5530 - accuracy: 0.7325
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5529 - accuracy: 0.7323
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7319
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5523 - accuracy: 0.7320
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7322
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7310
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7327
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7331
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7318
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7334
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7331
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7335
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7339
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7334
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7337
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7340
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7334
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7337
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7338
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7336
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7351
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7334
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7334
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7329
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5496 - accuracy: 0.7337
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7345
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7352
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7339
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7341
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7345
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7352

In [53]:
model_loss_A2, model_accuracy_A2 = nn_A2.evaluate(X_test_scaled_A2,y_test_A2,verbose=2)

268/268 - 0s - loss: 0.5652 - accuracy: 0.7222 - 387ms/epoch - 1ms/step

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [54]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
#model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
Loss: 0.5592040419578552, Accuracy: 0.72967928647995

In [55]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
#model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss_A1}, Accuracy: {model_accuracy_A1}")

Alternative Model 1 Results
Loss: 0.6914636492729187, Accuracy: 0.5292128324508667

In [56]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
#model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss_A2}, Accuracy: {model_accuracy_A2}")

Alternative Model 2 Results
Loss: 0.5651679039001465, Accuracy: 0.7222157716751099

### Step 3: Save each of your alternative models as an HDF5 file.

In [57]:
# Set the file path for the first alternative model
#file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
nn.save('./AlphabetSoup_A1.h5')

In [58]:
# Set the file path for the second alternative model
#file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
nn_A2.save('./AlphabetSoup_A2.h5')